# Python package dependencies
requests
python-dotenv
pandas
matplotlib
seaborn
scikit-learn
streamlit
pytest
pytest-mock
psycopg[binary]
psycopg2-binary
sqlalchemy
pyyaml
duckdb
apache-airflow==2.10.4
